@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}
.fixed-dialog-overlay {
  position: fixed !important;
  inset: 0 !important;
  z-index: 9998 !important;
}

.fixed-dialog-content {
  position: fixed !important;
  z-index: 9999 !important;
}

[data-radix-dialog-overlay] {
  z-index: 9998 !important;
}

[data-radix-dialog-content] {
  z-index: 9999 !important;
}
